@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  background-color: #f5f5f5;
}

h3 {
  font-size: 34px;
  font-weight: bolder;
  line-height: 40px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

h4 {
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-shadow: 0 0 10px #ccc;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0288d1;
  height: 64px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.header__auth {
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 22px;
}
.header__user {
  display: flex;
  align-items: center;
}
.header__userpic {
  background-image: url("/images/profile_placeholder.png");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
  margin-right: 5px;
}
.header__username {
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  cursor: pointer;
}

.auth_margin {
  margin: 5px;
}

.main {
  display: flex;
  justify-content: center;
  font-family: monospace;
  font-size: 18px;
}
.main__container {
  max-width: 1024px;
  width: 100%;
  height: 750px;
  margin: 15px;
  padding: 5px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.main__popup {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main__popup_display-none {
  display: none;
}
.main__popup_display-flex {
  display: flex;
}
.main__content {
  height: 350px;
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.main__content input {
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 8px;
  background: 1px solid gray;
}
.main__content-seperator {
  margin: 20px auto 10px;
  text-align: center;
  border-top: 1px solid #ccc;
  width: 300px;
}
.main__content-seperator i {
  padding: 0 10px;
  background: #fff;
  position: relative;
  top: -11px;
  z-index: 1;
  font-style: italic;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
}
.main__button-google {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px auto;
  font-size: 15px;
  text-align: left;
  line-height: 24px;
  max-width: 250px;
  border-radius: 2px;
  display: block;
  width: 100%;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid transparent;
}
.main__button-google:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.main__button-google b {
  font-weight: 700;
}
.main__button-google i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
.main__button-google i::before {
  content: "";
}
.main__signinbutton {
  background: #fff;
  color: #34495e;
  padding: 6px 15px;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 24px;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
}
.main__signinbutton:hover {
  background: #34495e;
  color: #fff;
}
.main__registration {
  margin-top: 10px;
  color: #777;
  text-align: center;
  font-size: 75%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main__close {
  position: absolute;
  top: -15px;
  right: -15px;
  background: #fff;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.main__chat {
  height: 100%;
  background-color: white;
  flex-basis: 70%;
}
.main__messages {
  background-color: #333;
  margin: 10px;
  height: calc(100% - 65px);
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: baseline;
  overflow-y: scroll;
}
.main__message {
  background-color: #616161;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
  transition: all 0.3s ease;
}
.main__message:hover {
  background-color: #737373;
}
.main__message span {
  color: #fff;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-shadow: 0 0 10px #ccc;
}
.main__message_margin {
  margin-right: 20px;
}
.main__nickname {
  color: #5cfc5e;
  line-height: 1.15;
}
.main__me {
  align-self: flex-end;
  text-align: right;
}
.main__private {
  box-shadow: 0px 0px 3px 2px #ff8383;
}
.main__team {
  box-shadow: 0px 0px 3px 2px #38ff7e;
}
.main__form {
  display: flex;
  justify-content: center;
}
.main__input-form {
  display: flex;
  justify-content: center;
}
.main__users {
  flex-basis: 30%;
  background-color: #333;
  margin: 10px;
  padding: 10px;
  color: #fff;
  word-wrap: break-word;
  text-shadow: 0 0 10px #ccc;
}
.main__usersonline {
  text-align: center;
  margin-bottom: 25px;
}
.main__userslist {
  margin-bottom: 5px;
}
.main__userinfo {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=app.css.map */
